NODE_ENV=development
PORT=5000

MONGO_URI="mongodb+srv://bhanu0852:MGZZbb8wKr0ZVhhu@svbbs.r7qubl1.mongodb.net/?appName=SVBBS"

CLIENT_URL=http://localhost:3000

JWT_ACCESS_SECRET=62667780da548e285c9368ca8e9d069b83511051e2fea8ea5560d2de24848d0c54117d1027d5c72b394956f91e8bffb5
JWT_REFRESH_SECRET=a0d6fe768cde6c97378ebed3c2007b9b87ef2db10aaf5c2eb6b40a18e580d8563e74f6d4bef4a63f6cfb2a54778bdef1

ENCRYPTION_KEY=e4a4b09dc44970b5713de7c139f66c70

RECAPTCHA_SECRET=

MOCK_AI=false
GEMINI_API_KEY=AQ.Ab8RN6KUObTMm9tkW4c6xiKH_KAjEmPnPEbcrh8b5K4qkxA3bQ

MOCK_PAYMENTS=true
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=bhanuprakashreddyfsd@gmail.com
SMTP_PASS=pmzdavejyqvplfg